<section class="customer-support">
	<div class="container">
		<img src="./images/support-img.svg" alt="" class="customer-support-img" width="540" height="500" />
		<div class="customer-support-block">
			<p class="management-text-bold">Easier decision making for</p>
			<h2 class="management-title">Customer Support</h2>
			<p class="management-text">
				The Myspace page defines the individual, his or her characteristics, traits, personal choices and the
				overall personality of the person.
			</p>
			<ul class="customer-support-list">
				<li class="customer-support-list-itm">
					<p class="cs-list-itm-text">Never worry about overpaying for your energy again.</p>
				</li>
				<li class="customer-support-list-itm">
					<p class="cs-list-itm-text">
						We will only switch you to energy companies that we trust and will treat you right
					</p>
				</li>
				<li class="customer-support-list-itm">
					<p class="cs-list-itm-text">We track the markets daily and know where the savings are.</p>
				</li>
			</ul>
		</div>
	</div>
</section>