<section class="management">
	<div class="container">
		<div class="management-left">
			<p class="management-text-bold">Effortless Validation for</p>
			<h2 class="management-title">Management</h2>
			<p class="management-text">
				The Myspace page defines the individual, his or her characteristics, traits, personal choices and the
				overall personality of the person.
			</p>
			<ul class="management-list">
				<li class="management-list-itm">
					<h3 class="management-list-title">Accessory makers</h3>
					<p class="management-list-text">
						While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
					</p>
				</li>
				<li class="management-list-itm">
					<h3 class="management-list-title">Alterationists</h3>
					<p class="management-list-text">
						If you are looking for a new way to promote your business that won’t cost you more money,
					</p>
				</li>
			</ul>
		</div>
		<img src="./images/management-img.svg" alt="management" width="540" height="500" class="management-img" />
	</div>
</section>