<section class="product">
	<div class="container">
		<h2 class="product-title">Product was Built Specifically for You</h2>
		<ul class="product-list">
			<li class="product-list-item">
				<!--<img src="./images/p1.svg" alt="img-point" width="54" height="54" class="product-list-item-img" />-->
				<div class="product-img-wrapper">
					<svg class="prodict-img-svg" width="16" height="18">
						<use href="./images/social-icons.svg#instagram"></use>
					</svg>
				</div>
				<h3 class="product-list-item-title">First click tests</h3>
				<p class="product-list-item-text">While most people enjoy casino gambling,</p>
			</li>
			<li class="product-list-item">
				<!--<img src="./images/p2.svg" alt="img-stuff" width="54" height="54" class="product-list-item-img" />-->
				<h3 class="product-list-item-title-snd">Design surveys</h3>
				<p class="product-list-item-text">Sports betting, lottery and bingo playing for the fun</p>
			</li>
			<li class="product-list-item">
				<img src="./images/p3.svg" alt="img-heart" width="54" height="54" class="product-list-item-img" />
				<h3 class="product-list-item-title">Preference tests</h3>
				<p class="product-list-item-text">The Myspace page defines the individual.</p>
			</li>
			<li class="product-list-item">
				<img src="./images/p4.svg" alt="img-clock" width="54" height="54" class="product-list-item-img" />
				<h3 class="product-list-item-title">Five second tests</h3>
				<p class="product-list-item-text">Personal choices and the overall personality of the person.</p>
			</li>
		</ul>
		<button type="button" class="product-btn">sign up now</button>
	</div>
</section>
