<section class="quick">
	<div class="container">
		<h2 class="quick-title">Quick & Easy Process</h2>
		<p class="quick-text">
			Do you require some help for your project: Conception workshop, prototyping, marketing strategy, landing
			page, Ux/UI?
		</p>
		<ul class="quick-list">
			<li class="quick-list-itm">
				<img
					src="/img/avatar-woman-1.png"
					alt="avatar-woman"
					width="98"
					height="98"
					class="quick-list-itm-img"
				/>
				<p class="quick-list-itm-text">I can take care of your pitch</p>
			</li>
			<li class="quick-list-itm">
				<p class="quick-list-itm-text">I can take care of your pitch</p>
				<img
					src="/img/avatar-man-with-photo-2.png"
					alt="avatar-man-with-photo"
					width="98"
					height="98"
					class="quick-list-itm-img"
				/>
			</li>
			<li class="quick-list-itm">
				<p class="quick-list-itm-text">I can prototype your app</p>
				<img
					src="/img/avatar-old-lady-3.png"
					alt="avatar-old-lady"
					width="98"
					height="98"
					class="quick-list-itm-img"
				/>
			</li>
			<li class="quick-list-itm">
				<img
					src="/img/avatar-old-man-4.png"
					alt="avatar-old-man"
					width="98"
					height="98"
					class="quick-list-itm-img"
				/>
				<p class="quick-list-itm-text">I can help marketing strategy</p>
			</li>
		</ul>
		<button type="button" class="quick-btn">Contact our expert</button>
	</div>
</section>